.image-center {
    display: block;
  margin: 0 auto;
}

p {
  display: block;
  text-align: center;
  padding-top: 460px;
}

body {
  display: block;
  background-color: antiquewhite;
  background: url(../photo/dmitrenko_pole.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
