.logo {
    text-align: center;
    font-family:cursive;
    color: rgb(25, 128, 25);
    font-size: 20 ;
    float:left;
    position :relative;
     border: solid 2px green; 
    width: 19.3%;
    height: 100%;
}

.sideleft {
    float: left;
    height: 100%;
    width: 40%;
     border: solid 2px green; 
    position: relative;
    overflow-y: scroll;
}

.treeimg {
    position: relative;
    left: 20%;
    float: left;
    clear:both;
}

.sideright {
    float:right;
    height: 100%;
    width: 40%;
     border: solid 2px green; 
    position: relative;
    text-align:center;
    font-size: 25px;
    overflow-y: scroll;
    font-family: sans-serif;
}
ul{
    list-style-type: none;
}

.dws {
    position:absolute;
    left:43.5%;
    top: 30%;
}

.butt {
    border: 3px solid green;
    font-size: 20px;
    color: green;
    text-decoration: none;
    text-transform:uppercase;
    width:250px;
    height: 60px;
    display:block;
    text-align: center;
    line-height: 60px;
    font-family: cursive;
    position:relative;
    transition: .5s;
    overflow: hidden;
    margin: 5px;
}

h2::before {
    content: "\2766";
}

h2::after {
    content: "\2639"
}

section {
    quotes:none;

}
/*
.butt::before, .butt::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: green;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

.butt::after {
    opacity: 1;
    transition-delay: .2s;
}

.butt:hover {
    color: white;

}

.butt:hover::before, .butt:hover::after {
    left: 0;
}
*/
  footer {
   position: relative;
   text-align: end;
   top: 460px;
   color:green;
}

/* display: flex;
    height: 40px;
    justify-content: center;
    padding: 5px;
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 5px;
    left: 45% */