body{
background-image: url("blueface.jpg");
background-repeat: no-repeat;
}

h1 {
   position: absolute;
   top: 30%;
   right: 30%;
}   
.text1 {
    position: absolute;
    top: 40%;
    right: 33%;
}
.text2 {
    position: absolute;
    top: 44%;
    right: 33%;
}
.text3 {
    position: absolute;
    top: 48%;
    right: 33%;
}