body{
background-image: url("blueface.jpg");
background-repeat: no-repeat;
}

h1 {
   position: absolute;
   top: 30%;
   right: 30%;
}   
.text1 {
    position: absolute;
    top: 40%;
    right: 33%;
}
.text2 {
    position: absolute;
    top: 44%;
    right: 33%;
}
.text3 {
    position: absolute;
    top: 48%;
    right: 33%;
}
.text4 {
    position: absolute;
    top: 52%;
    right: 33%;
}
.text5 {
    position: absolute;
    top: 56%;
    right: 33%;
}
.text6 {
    position: absolute;
    top: 60%;
    right: 33%;
}
.text7 {
    position: absolute;
    top: 64%;
    right: 33%;
}
.text8 {
    position: absolute;
    top: 68%;
    right: 33%;
}
.text9 {
    position: absolute;
    top: 72%;
    right: 33%;
}
.Test {
    position: absolute;
    top: 76%;
    right: 33%;
}